.calculator{
    background-color:pink ;
    width: 500px;
    height: 500px;
    /*display: flex;*/
}

.rowOne{
    display: flex;
}

.rowTwo{
    display: flex;
}
.rowThree{
    display: flex;
}
.rowFour{
    display: flex;
}
.screen{
    background-color: black;
    width: 500px;
    height: 100px;
}